chatbot_N8N.json
{
  "name": "chatbot_simples",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "665fe20a-b0c4-42fc-a8e0-78a07ef8f9d8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        0
      ],
      "id": "4e2528a2-bf41-45f3-a851-32f9d37e9d82",
      "name": "Webhook",
      "webhookId": "665fe20a-b0c4-42fc-a8e0-78a07ef8f9d8"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        256
      ],
      "id": "5b919824-c128-4bb8-90df-26532ecddab0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        192,
        0
      ],
      "id": "c5a520b7-17e1-4467-b995-964bb3629fef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        64,
        256
      ],
      "id": "64c398c6-0ef5-44c7-ab68-e62ee8999df7",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "LXlnF14avbcBJ9FY",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\"response\": {{ JSON.stringify($json.output) }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        0
      ],
      "id": "ad9b8d19-f78c-4197-b95b-104e5cd01022",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "037533dd-de52-44e7-aaa6-73072e1dff66",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "765010d22a9a9fc694490eb9b207d8ef6322231c664dfbbcbffef8937f99973c"
  },
  "id": "2KD4jJ3cpJsjvv9V",
  "tags": []
}